@charset "UTF-8";
/* CSS Document */

* {box-sizing: border-box}
body{
	margin: 0;
	font-family: Verdana, "sans-serif";
	background-color:  #F2F4F7;
	
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #333333;
}

::selection {
  color: white;
  background: #333333;
}

.clearfix{
	content: "";
	clear: none;
	display: table;
	overflow: auto; 
}

.page-wrapper{
	margin-left: 5%;
	margin-right: 10%;
	margin-top: 0;
}

/* code for header */
.header{
	height: auto;
	width: 150px;
	top: 35%;
	position: fixed;
	display: block;
	text-align: right;
}

.nav-logo h2{
	font-size: 16pt;
	font-weight: lighter;
	margin-bottom: 0;
	padding-bottom: 0;
	
}

.nav-logo h3{
	font-size: 8pt;
	color: dimgray;
	padding-top: 0;
	line-height: 12pt;
	font-weight: lighter;
}

.nav-bar {
	padding-left: 0;
	display: block;
}

nav ul{
	margin-top: 50px;
	list-style-type: none;
}

nav li{
	margin-bottom: 20px;
}

nav a{
	text-align: right;
	text-decoration: none;
	font-size: 10pt;
	color: gray;
	
}

nav a:hover {
	color: black;
}

/* code for main page */

.main-content{
	margin-left: 200px;
	margin-top: 10%;
}


.bio-container{
	width: 80%;
	margin-bottom: 20px;
}

.bio-info{
	margin-bottom: 100px;
	margin-left: 40px;
}

.bio-info h2, .publication-container h2{
	font-size: 14pt;
	font-weight: lighter;
	padding-top: 0;
	color: dimgray;
	margin-bottom: 20px;
}

.news-div{
	display: table;
	width: 100%;
	margin-bottom: 10px;
	
}

.news-date{
	display: table-cell;
	width: 100px;
}

.news-content{
	display: table-cell;
	margin-left: 110px;

}


.project-list, .project-detail{
	margin-bottom: 100px;
	width: 100%;
}

.project-header{
	font-size: 14pt;
	font-weight: lighter;
	padding-top: 0;
	color: dimgray;
	margin-bottom: 20px;
	margin-left: 40px;
}

.project-div{
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;

    align-items: baseline;
	
}

.project-container{
	margin-left: 40px;
}

.project-container p{
	margin-top: 10pt;
	text-decoration: none;
	color: #212121;
	font-size: 9pt;
	line-height: 15pt;
	margin-bottom: 60px;
}

.projectPBC{
	text-decoration: none;
	color: #212121;
	font-size: 9pt;
	line-height: 15pt;
	margin-bottom: 100px;
	margin-left: 40px;
	margin-right: 40px;
}

.projectDT-container p{
	text-align: center;
	margin-top: 20px;
	text-decoration: none;
	color: #212121;
	font-size: 9pt;
	line-height: 15pt;
	margin-bottom: 60px;
}

.project-container a:hover{
	opacity: 0.8;
	
}

.projectDT-container{
	margin-left: 40px;
	margin-right: 40px;
}

.projectDT-container img{
	max-width: none;
}

/* code for publication page */

.publication-intro p, .bio-container p{
	text-decoration: none;
	color: #212121;
	font-size: 10pt;
	line-height: 25pt;
}


.publication-intro{
	margin-bottom: 100px;
	margin-left: 40px;
	width: 80%;
}

.publication-container{
	margin-bottom: 100px;
	width: 80%;
	margin-left: 40px;
}

.publication-container p{
	clear: left;
	text-decoration: none;
	margin-bottom: 25pt;
	font-size: 10pt;
	line-height: 25pt;
	color: #212121;
	
}

.publication-container a, .publication-intro a, .news-div a, .bio-container a, .projectPBC a, .projectDT-container a{
	text-decoration: none;
	color: black;
	border-bottom: 2px solid #CCCCCC;
}

.publication-container a:hover, .publication-intro a:hover, .news-div a:hover, .bio-container a:hover, .projectPBC a:hover, .projectDT-container a:hover{
	border-bottom: 2px solid #FFCD34;
}
.contact-container{
	position: absolute;
    top: 35%;
    left: 240px;
    right: 10%;
    bottom: 0;
	
}

.footinfo-container{
	padding-left: 200px;
	width: 100%;
	height: 100%;
	
}


.footinfo-container p{
	font-size:10pt;
	color: #212121;
	text-align: left;
	line-height: 25px;
	width: 100%;
	display: block;
}

.footinfo-container a{
	text-decoration: none;
	color: black;
	border-bottom: 2px solid #CCCCCC;
}

.footinfo-container a:hover{
	border-bottom: 2px solid #FFCD34;
}

/* code for footer */

.copyright-claim{
	position: relative;
	bottom: 20px;
	right: 0;
}

.copyright-claim p{
	font-size:10pt;
	float:right;
	color: gray;
}

.embed-container {
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  padding-bottom: 56.25%;
  overflow: hidden;
}
		
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.nav-container {
  display: none;
  cursor: pointer;
}



.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


@media screen and (max-width: 800px){
	.page-wrapper{margin-left: 5%; margin-right: 5%;}
	.header{top: 0; width: 100%; left: 0; right: 0; text-align: left; padding-left: 5%; background-color: #F2F4F7;}
	.nav-header{height: 120px; background-color: #F2F4F7; display: flex; align-items: center;}
	#navi-list{display: none;}
	.nav-bar{background: #F2F4F7; height: 100%; position: fixed; width: 100%;}
	nav a{text-align:left; font-size: 12pt;}
	nav li{margin-bottom: 60pt;}
	.main-content{margin-top: 140px; margin-left: 0; margin-right: 0;}
	.project-container p, .footinfo-container p, .publication-container p, .publication-intro p, .bio-container p, .projectDT-container p{font-size: 9pt;}
	.bio-container, .publication-container, .publication-intro{width: 100%;}
	.footinfo-container{padding: 0;}
	.contact-container{top: 140px;left: 5%; right: 5%;}
	.news-div, .news-date, .news-content{display: block;}
	.news-content{margin-left: 0;}
	.news-date{padding-bottom: 0;}
	.news-div{margin-bottom: 40px;}
	.news-div p{line-height: 20px;}
	.nav-container{display: inline-block; position: absolute; right: 5%;} 
}

@media screen and (min-width: 801px){
	#navi-list, #footage, #pgContent{display: block!important;}
	
}

@media screen and (max-width: 1024px){
	.project-div{display: block;}

}
